html{
    background-image: url(./img/lobo.jpg);
   

}

/* 
h1#text{
    color: aqua;
    position: relative;
    left: 45%;

}

.main{
    position: relative;
    left: 45%;
    
}

button#um{
    cursor: pointer;
}

.calculadora{
    
    position: relative;
    left: 50%;
    size: none; 
    
}

.primeira{
    
    border: red;
    border-radius: 50%;
    position: relative;
    left: 50%;
} */